<div class="main-container">
  <div *ngFor="let categoria of resultadosPorCategoria | keyvalue">
    <h2 class="categoria-title">{{ categoria.key }}</h2>
    <div class="box">
      <ng-container *ngFor="let item of categoria.value">
        <a [routerLink]="item.url" (click)="registrarHistorial(item.nombre, item.url)" class="item-link">
          <img [src]="item.imagen" alt="{{ item.nombre }}" />
          <p class="item-name">{{ item.nombre }}</p>
        </a>
      </ng-container>
    </div>
    <hr class="categoria-separator" />
  </div>
</div>