<div>
  <div class="box">
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>

    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
  </div>

  <h1 id="myList">Campo de prueba</h1>
  <div class="box">
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
  </div>

  <h1 id="tvShows">Campo de prueba</h1>
  <div class="box">
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>

    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
    <a href="http://localhost:4200/temario"><img src="../../../../assets/404.jpg" alt=""></a>
  </div>
</div>
