<div class="ajustes-container">
  <h2>Ajustes</h2>

  <label>
    Tema:
<select [(ngModel)]="configuracion.tema" (ngModelChange)="actualizarTema()">
  <option value="oscuro">Oscuro</option>
  <option value="claro">Claro</option>
</select>
</label>

<label>
  Idioma:
 <select [(ngModel)]="configuracion.idioma" (change)="cambiarIdioma(configuracion.idioma)">
  <option value="es">Español</option>
  <option value="en">Inglés</option>
  <option value="fr">Francés</option>
</select>

</label>

<label>
  Foto de perfil:
  <input type="file" (change)="onFotoSeleccionada($event)" accept="image/*" />
</label>


<img *ngIf="fotoBase64" [src]="fotoBase64" alt="Previsualización" width="100" height="100" class="mt-2 rounded-circle border">






  <button (click)="guardarConfiguracion()">Guardar</button>
</div>
