<div class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img src="../../../../assets/Leanrcam.svg" width="70" height="70" class="d-block mx-auto mb-1" alt="Home">
                
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a href="#" class="nav-link text-secondary">
                        <img src="../../../../assets/home-button.png" width="24" height="24" class="d-block mx-auto mb-1" alt="Home">
                        INICIO
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <img src="../../../../assets/categories.png" width="24" height="24" class="d-block mx-auto mb-1" alt="Home">
                        CATEGORIAS
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <img src="../../../../assets/settings.png" width="24" height="24" class="d-block mx-auto mb-1" alt="Home">
                        AJUSTES
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>